.accordion-trigger {
  word-break: break-all;
}
.accordion-trigger::after {
  content: '';
  display: inline-block;
  width: 16px; /* Width of image */
  height: 16px; /* Height of image */
  background-image: url('/svg/plus.svg'); /* Path to image */
  background-size: cover;
  margin-left: 8px;
  padding-right: 15px;
}

.accordion-trigger[data-state='open']::after {
  background-image: url('/svg/minus.svg'); /* Path to opened state image */
}
